.pokemon-card {
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(75, 51, 51, 0.1);
  text-align: center;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.pokemon-card img {
  width: 80px;
  height: 80px;
}

